.content{
    width: 350px;
    justify-content: center;
    align-items: center;
    margin-left:38%;
    margin-top: 15%;
}
.button{
    width: 80px;
    height: 80px;
    border: 2px solid black;
}
.boxes{
    display: flex;
    gap: 2px;
}

#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
